In [3]:
import pandas as pd
import matplotlib as plt

In [4]:

dados = pd.read_json("dados.json")

In [9]:
dados.shape[0]

150

In [13]:
dates = pd.to_datetime(dados["Data"],format='%d/%m/%Y')

In [34]:
print(dates[0])

print(type(dates[1]))


dates[0]> dates[1]

2021-09-06 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

False

AttributeError: type object 'list' has no attribute 'plot'

In [32]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [46]:
a = pd.DataFrame(dados["Dose 2"])
type(a)
b =pd.DataFrame(dados["Data"])

c = a.assign(data = dados["Data"])

c.drop_duplicates("Dose 2")

     Dose 2        data
0    112596    6/9/2021
4    127316   16/9/2021
7    134756   21/9/2021
13   147603   27/9/2021
20    10643   4/10/2021
21   162253   5/10/2021
23   165061   7/10/2021
28   168701  12/10/2021
34   187775  18/10/2021
43   198600   1/11/2021
50   225873   8/11/2021
59   240209  18/11/2021
75   260391   1/12/2021
82   264360   7/12/2021
85   266306  10/12/2021
120  307076   12/1/2022