In [18]:
import pandas as pd
data = pd.read_json("dados.json")

In [19]:
data

             Data  Doses Unicas  Dose 1  Dose 2  Total percentagem
0    022/010/2021          6265  296420  187775                 87
1      05/09/2021          6260  258714   95869                 86
2      06/09/2021          6260  263318  112596                 88
3     010/09/2021          6260  263318  112596                 88
4     011/09/2021          6260  263318  112596                 88
..            ...           ...     ...     ...                ...
139   012/01/2022          6265  332010  307076                 96
140   013/01/2022          6265  332010  307076                 96
141   014/01/2022          6265  332010  307076                 96
142   015/01/2022          6265  332010  307076                 96
143   016/01/2022          6265  332010  307076                 96

[144 rows x 5 columns]

In [102]:
data.dtypes

Data                 object
Doses Unicas          int64
Dose 1                int64
Dose 2                int64
Total percentagem     int64
dtype: object

In [104]:
data.columns

Index(['Data', 'Doses Unicas', 'Dose 1', 'Dose 2', 'Total percentagem'], dtype='object')

In [105]:
tipos = pd.DataFrame(data.dtypes,columns = ["tipos"])

In [109]:
tipos

                    tipos
Data               object
Doses Unicas        int64
Dose 1              int64
Dose 2              int64
Total percentagem   int64

In [110]:
tipos.columns

Index(['tipos'], dtype='object')

In [97]:
tipos.columns.name = "variaveis"

In [98]:
tipos

variaveis           tipos
Data               object
Doses Unicas        int64
Dose 1              int64
Dose 2              int64
Total percentagem   int64

In [31]:
data.to_html("dataa.html")

In [33]:
data.head()

           Data  Doses Unicas  Dose 1  Dose 2  Total percentagem
0  022/010/2021          6265  296420  187775                 87
1    05/09/2021          6260  258714   95869                 86
2    06/09/2021          6260  263318  112596                 88
3   010/09/2021          6260  263318  112596                 88
4   011/09/2021          6260  263318  112596                 88

In [34]:
data.columns

Index(['Data', 'Doses Unicas', 'Dose 1', 'Dose 2', 'Total percentagem'], dtype='object')

In [153]:
data["Data"]

0      022/010/2021
1        05/09/2021
2        06/09/2021
3       010/09/2021
4       011/09/2021
           ...
139     012/01/2022
140     013/01/2022
141     014/01/2022
142     015/01/2022
143     016/01/2022
Name: Data, Length: 144, dtype: object

In [154]:
dataframe_datas = pd.DataFrame(data["Data"])

In [155]:
dataframe_datas

             Data
0    022/010/2021
1      05/09/2021
2      06/09/2021
3     010/09/2021
4     011/09/2021
..            ...
139   012/01/2022
140   013/01/2022
141   014/01/2022
142   015/01/2022
143   016/01/2022

[144 rows x 1 columns]

In [180]:
dates = pd.to_datetime('13000101',format = '%Y%m%d',errors='ignore')

In [187]:
dates2 = pd.to_datetime('1444ss1',format = '%Y%m%d',errors='ignore')

In [ ]:
dates2 = pd.to_datetime('16000101',format = '%Y%m%d',errors='ignore')

In [196]:
s = pd.Series(['0331/2000', '3/12/2000', '3/13/2000'] * 1000)

In [197]:
    s

0       0/11/2000
1       3/12/2000
2       3/13/2000
3       0/11/2000
4       3/12/2000
          ...
2995    3/12/2000
2996    3/13/2000
2997    0/11/2000
2998    3/12/2000
2999    3/13/2000
Length: 3000, dtype: object

In [209]:
s = pd.Series(['3/011/2000'] )

In [210]:
s

0    3/011/2000
dtype: object

In [211]:
pd.to_datetime(s, infer_datetime_format=True)

ParserError: Unknown string format: 3/011/2000

In [88]:
doses_1.shape

(17, 1)

In [94]:
doses_1.index = range(doses_1.shape[0])

In [95]:
doses_1.columns

Index(['Dose 1'], dtype='object', name='index')

In [92]:
doses_1.columns.name = "index"

In [112]:
doses_1

index   Dose 1
0       296420
1       258714
2       263318
3       272627
4       277791
5       285211
6       294662
7       296182
8       296292
9      2962332
10      305274
11      309365
12      314433
13      320867
14      328209
15      329369
16      332010

In [115]:
listas = [[1,2,3],
      [4,5,6],
      [7,8,9]]

In [117]:
listas

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [119]:
df1 = pd.DataFrame(listas)

In [122]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [124]:
index = ['Linha' + str(i) for i in range(len(listas))]

In [126]:
index

['Linha0', 'Linha1', 'Linha2']

In [144]:
df1 = pd.DataFrame(data = listas,index=index)

In [147]:
colunas = ["Coluna" + str(i) for i in range(len(listas))]

In [149]:
colunas

['Coluna0', 'Coluna1', 'Coluna2']

In [151]:
df1 = pd.DataFrame(data = listas,index = index,columns = colunas)

In [224]:
from datetime import date

In [232]:
data = datetime.now()
data
print(type(data))
data_atual=  date.today()
data_em_texto = ("{}/{}/{}".format(data_atual.day, data_atual.month,
data_atual.year))
print(type(data_em_texto))

<class 'datetime.datetime'>
<class 'str'>