In [18]:
import pandas as pd
data = pd.read_json("dados.json")

In [19]:
data

             Data  Doses Unicas  Dose 1  Dose 2  Total percentagem
0    022/010/2021          6265  296420  187775                 87
1      05/09/2021          6260  258714   95869                 86
2      06/09/2021          6260  263318  112596                 88
3     010/09/2021          6260  263318  112596                 88
4     011/09/2021          6260  263318  112596                 88
..            ...           ...     ...     ...                ...
139   012/01/2022          6265  332010  307076                 96
140   013/01/2022          6265  332010  307076                 96
141   014/01/2022          6265  332010  307076                 96
142   015/01/2022          6265  332010  307076                 96
143   016/01/2022          6265  332010  307076                 96

[144 rows x 5 columns]

In [20]:
data.dtypes

Data                 object
Doses Unicas          int64
Dose 1                int64
Dose 2                int64
Total percentagem     int64
dtype: object

In [24]:
tipos = pd.DataFrame(data.dtypes,columns = ["tipos"])

In [25]:
tipos.columns.name = "variaveis"

In [31]:
data.to_html("dataa.html")

In [33]:
data.head()

           Data  Doses Unicas  Dose 1  Dose 2  Total percentagem
0  022/010/2021          6265  296420  187775                 87
1    05/09/2021          6260  258714   95869                 86
2    06/09/2021          6260  263318  112596                 88
3   010/09/2021          6260  263318  112596                 88
4   011/09/2021          6260  263318  112596                 88

In [34]:
data.columns

Index(['Data', 'Doses Unicas', 'Dose 1', 'Dose 2', 'Total percentagem'], dtype='object')

In [38]:
data["Dose 1"]

0      296420
1      258714
2      263318
3      263318
4      263318
        ...
139    332010
140    332010
141    332010
142    332010
143    332010
Name: Dose 1, Length: 144, dtype: int64

In [64]:
datas = data["Dose 1"]

In [65]:
datas

0      296420
1      258714
2      263318
3      263318
4      263318
        ...
139    332010
140    332010
141    332010
142    332010
143    332010
Name: Dose 1, Length: 144, dtype: int64

In [66]:
tipo = data["Dose 1"]

In [67]:
tipo

0      296420
1      258714
2      263318
3      263318
4      263318
        ...
139    332010
140    332010
141    332010
142    332010
143    332010
Name: Dose 1, Length: 144, dtype: int64

In [76]:
tipo.drop_duplicates(inplace = True)

In [80]:
doses_1 = pd.DataFrame(tipo)

In [87]:
doses_1

     Dose 1
0    296420
1    258714
2    263318
3    272627
4    277791
5    285211
6    294662
7    296182
8    296292
9   2962332
10   305274
11   309365
12   314433
13   320867
14   328209
15   329369
16   332010

In [88]:
doses_1.shape

(17, 1)

In [89]:
doses_1.index = range(doses_1.shape[0])

TypeError: 'tuple' object is not callable